<div class="contact">
    <h3 class="pgTitle">Contact Me</h3>
    <p>I am interested in freelance opportunities - especially on ambitious or large projects. However, if you have any other requests or questions, don't hesitate to contact me using below form either.</p>
    <a class="contactInfo" href="tel:+959954414046"><i class="fa-solid fa-phone"></i>+959954414046</a>
    <a class="contactInfo" href="mailto:winlaiyeemonwlym@gmail.com"><i class="fa-solid fa-envelope"></i>{{email}}</a>

    <div class="footer">
        <ul class="social">
            <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
        <p class="copyright">© 2024 Win Lai Yee Mon. All rights reserved.</p>
    </div>
</div>