<div class="about">
    <h3 class="pgTitle">About Me</h3>
    <div class="aboutContact">
        <figure class="profileImg">
            <img src="../../../assets/img/profile_img.png" alt="profile">
        </figure>
        <div class="profileContent">
            <h4 class="aboutTitle">Hello,</h4>
            <p class="aboutText">I am Win Lai Yee Mon, Frontend Developer from Yangon, Myanmar. I am graduated from University of Technology (Yatanarpon Cyber City). I have rich experience in frontend developement with Angular, Html, Css, JavaScript and Agile/Scrum.</p>
            <div class="col">
                <p><span>Name: </span>Bako Doe</p>
                <p><span>Birthday: </span>13 May, 1995</p>
                <p><span>Location: </span>Yangon, Myanmar</p>
                <p><span>Email: </span>{{email}}</p>
            </div>
            <button class="myButton"><i class="fa-solid fa-download"></i>Download CV</button>
        </div>
    </div>
</div>