<div class="hero">
      <div class="overlay"></div>
     <div class="content">
        <h1>I'm Win Lai Yee Mon<span class="fullStop">.</span></h1>
        <p>A passionate Front-end Developer with 5 years of experience in developing and maintaining front-end web applications. Adept in collaborating with cross-functional teams. My contributions to projects in the Banking sector have consistently resulted in seamless user experiences.</p>
        <button (click)="scrollToSection('contact')" class="myButton">Contact Me</button>
     </div>
</div>