@import '../../variables.scss';
@import '../../app.component.scss';

.project {
    background: $font-color;
    border-radius: 20px;
    box-shadow: $box-shadow;
    padding: 80px 50px;
    box-sizing: border-box;

    .projectList {
        margin-top: 30px;
    }

    .projectTitle {
        font-size: 18px;
        font-weight: bold;
    }

    span {
        color: $font-color3
    }

    p {
        margin-bottom: 8px;
    }

    ul {
        li {
            padding-left: 20px;
            margin-top: 8px;
            position: relative;

            .listLeaf {
                position: absolute;
                left: 0;
                top: 3px;
                color: $primary-color;
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 980px) {
    
}