<div class="twoCol">
  <app-sidebar class="sideBar" (scrollToSection)="scrollToSection($event)"></app-sidebar>
  <div class="main">
    <app-mobile-header class="mobile-header"></app-mobile-header>
    <div class="divider" id="home"></div>
    <app-hero></app-hero>
    <div class="divider" id="about"></div>
    <app-about></app-about>
    <div class="divider" id="skill"></div>
    <app-skill></app-skill>
    <div class="divider" id="experience"></div>
    <app-experience></app-experience>
    <div class="divider" id="project"></div>
    <app-project></app-project>
    <div class="divider" id="contact"></div>
    <app-contact></app-contact>
  </div>
</div>