$primary-color: #3f6a54;
$secoundary-color: #e4a31e;
$font-color: #fff;
$font-color2: #1d2f23;
$font-color3: #4f6e71;
$box-shadow : 0px 6px 15px 0px #1d2f231a;
$box-shadow-hover : 0px 0 10px 5px rgba(255, 255, 255, 0.2);