<div class="sideBar">
    <figure class="profileImg">
        <img src="../../../assets/img/profile_img.png" alt="profile">
    </figure>

    <h1>Win Lai Yee Mon<span class="fullStop">.</span></h1>
    <p class="position">Front End Developer</p>

    <ul class="menu">
        <li><button (click)="scrollTo('home')" class="active"><i class="fa-solid fa-house-chimney"></i>Home</button></li>
        <li><button (click)="scrollTo('about')"><i class="fa-regular fa-user"></i>About</button></li>
        <li><button (click)="scrollTo('skill')"><i class="fa-solid fa-list"></i>Skills</button></li>
        <li><button (click)="scrollTo('experience')"><i class="fa-solid fa-graduation-cap"></i>Experience</button></li>
        <li><button (click)="scrollTo('project')"><i class="fa-solid fa-diagram-project"></i>Project</button></li>
        <li><button (click)="scrollTo('contact')"><i class="fa-solid fa-phone"></i>Contact</button></li>
    </ul>
    
</div>